<header><h2>{{item.title}}</h2></header>
{{#if item.partnerPage}}
{{#if activeFrame}}
<button class="btn btn-default" {{action 'copyFrame' item item.partnerPage}}>Kopiera ram för uppslag</button>
{{/if}}
{{/if}}
{{item.physical}}
<div class="btn-group" role="group" aria-label="...">
  <button class="btn btn-default" {{action 'setPhysical' item 'undefined'}}><i class="fa fa-ban" title="undefined"></i>
</button>
<button class="btn btn-default" {{action 'setPhysical' item 'LeftPage'}}><i class="fa fa-align-right" title="LeftPage"></i></button>
  <button class="btn btn-default" {{action 'setPhysical' item 'RightPage'}}><i class="fa fa-align-left" title="RightPage"></i></button>
  
  <button class="btn btn-default" {{action 'setPhysical' item 'DoublePage'}}><i class="fa fa-arrows-h" title="DoublePage"></i>
</button>
</div>
<br/>
{{#unless enteredViewport}}
<img height="700" {{ bind-attr src=item.tiny}} >
{{/unless}}
{{#if enteredViewport}}
{{active-image item=item}}
{{/if}}